<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div w3-include-html="header.html"></div>
        <div class="main-content">
            <img class="portrait" src="/img/me.jpg">
        </div>
        <div w3-include-html="footer.html"></div>
    </body>
    <script src="../js/includeHTML.js"></script>
    <script>
        includeHTML();
    </script>
</html>