<!DOCTYPE html>

<html>
    <head>
        <title>dirkagterhuis.dev</title>
        <link rel="icon" href="/public/img/weather.png" />
        <link rel="stylesheet" href="/public/css/styles.css" />
    </head>

    <body>
        <div w3-include-html="header.html"></div>
        <div class="main-content">
            <p>Here's some awesome content!</p>
        </div>
        <div w3-include-html="footer.html"></div>
    </body>

    <script src="../public/js/includeHTML.js"></script>
    <script>
        includeHTML();
    </script>
</html>
