<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/public/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" href="/public/img/weather.png">
        <link rel="stylesheet" href="/public/css/styles.css">

        <title>dirkagterhuis.dev</title>
    </head>
    <body>
        <div w3-include-html="./header.html"></div>
        <div class ="main-content">
        <p>This is the landing page of the (to be built) Spotify App. Somehow, It will use the Spotify API to give you all your playlists & relted information as a CSV.</p>
        <p>A good use case would be to uncouple your Spotify and Facebook accounts. Currently, you're forced to create a new account if you want to uncouple Spotify and Facebook, if you've
            created your Spotify Account using Facebook, which is the same mistake I made.
        </p>
        <p>The downside is, you'll lose all your playlists and saved music. So, besides giving you a .csv file of your playlists for your pleasure and convenience, this ncie little website / webapp will
            allow you to download all your playlists and upload them to your newly created user account.
        </p>
        <p>{Something with authorizing this web app / page to use your Spotify account.}</p>

        <button type="button"
        onclick="document.getElementById('demo').innerHTML = Date()">
        Eventually this will authorize your spotify account. Now it only shows the current DateTime.
        </button>
        <button type="button"
            onclick="startAuthFromClient()">
            Start authorization
        </button>

        <p id="demo"></p>

        <p>{Something with getting all songs for all playlists}</p>
        <p>{Something with storing those songs}</p>
        <p>{Something with sending them to a new Spotify Account}</p>
    </div>
    <div class = "container" align="center">
        <p>This is a container, just hanging here, waiting to be used.</p>
    </div>
        <div w3-include-html="/views/footer.html"></div>
    </body>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="../public/js/includeHTML.js"></script>
        <script> includeHTML(); </script>
        <script src="index.js"></script>
        <script src="../src/authorization.js"></script>
    </body>
</html>