body {
    color: #333333;
    font-family: arial;
    max-width: device-width;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    margin: auto;
    padding: 0 50px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    text-align: center;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
    text-align: center;
}

h1 {
    font-size: min(10vw, 70px);
    margin-bottom: 16px;
    text-align: center;
}

header a {
    color: #888888;
    text-decoration: none;
    text-align: center;
}

.portrait {
    width: 250px;
}

.loadingMessage {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    overflow: hidden;
    overflow-y: scroll;
}